<script type="text/javascript">
    {literal}
    
    var fields = new Array('id', 'title');
    var config = new Object({
        fields: fields,
        format: 'json',
        id: 'color',
        url: base_url+'/wh:product_dict_color/load_all'
    });
    color_store = new Store();
    color_store.init(config);
    
    var config = new Object({
        fields: fields,
        format: 'json',
        id: 'color',
        url: base_url+'/wh:product_dict_vendor/load_all'
    });
    vendor_store = new Store();
    vendor_store.init(config);
    
    var fields = new Array('value', 'title');
    var config = new Object({
        fields: fields,
        format: 'json',
        id: 'color',
        url: base_url+'/wh:tax/load_all'
    });
    tax_store = new Store();
    tax_store.init(config);
    
    var tax_combo = new Ext.form.ComboBox({
        displayField: 'title',
        editable: false,
        fieldLabel: 'VAT',
        hiddenName: 'vat',
        name: 'vat',
        id: 'vat',
        store: tax_store,
        triggerAction: 'all',
        width: 350,
        valueField: 'value',
        xtype: 'combo'
    });
            
    tax_combo.on('change', function(combo, record, index) {
        var percent = 1+(record/100);
        var newValue = parseFloat($('#price_netto').val())*percent;
        $('#price_brutto').val(Number((newValue).toFixed(2)));
    });

    //    panel
    var config = new Object({
        title: 'Dodaj',
        items: [{
                fieldLabel: 'Nazwa',
                name: 'title',
                xtype: 'textfield',
                width: 350
            },{
                fieldLabel: 'Nagłówek',
                name: 'header',
                xtype: 'textfield',
                width: 350
            },{
                fieldLabel: 'Opis',
                name: 'description',
                xtype: 'textarea', 
                allowBlank: false, 
                blankText: "Pole wymagane", 
                height: 160,   
                width: 350
            },{
                fieldLabel: 'Gwarancja',
                name: 'warranty',
                xtype: 'textfield',
                width: 350
            },{
                displayField: 'title',
                editable: false,
                fieldLabel: 'Sprzedawca',
                hiddenName: 'id_vendor',
                name: 'id_vendor',
                store: vendor_store,
                triggerAction: 'all',
                width: 350,
                valueField: 'id',
                xtype: 'combo'
            },{
                displayField: 'title',
                editable: false,
                fieldLabel: 'Kolor',
                hiddenName: 'color',
                name: 'color',
                store: color_store,
                triggerAction: 'all',
                width: 350,
                valueField: 'id',
                xtype: 'combo'
            },{
                fieldLabel: 'Tworzywo',
                name: 'material',
                xtype: 'textfield',
                width: 350
            },{
                fieldLabel: 'Waga',
                name: 'weight',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 0,
                width: 350
            },{
                fieldLabel: 'Długość',
                name: 'dimension_length',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 0,
                width: 350
            },{
                fieldLabel: 'Szerokość',
                name: 'dimension_width',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 0,
                width: 350
            },{
                fieldLabel: 'Wysokość',
                name: 'dimension_height',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 0,
                width: 350
            },{
                fieldLabel: 'Zdjęcie 1',
                name: 'image1',
                xtype: 'fileuploadfield',
                width: 350
            },
            {
                fieldLabel: 'Zdjęcie 2',
                name: 'image2',
                xtype: 'fileuploadfield',
                width: 350
            },
            {
                fieldLabel: 'Zdjęcie 3',
                name: 'image3',
                xtype: 'fileuploadfield',
                width: 350
            },
            {
                fieldLabel: 'Zdjęcie 4',
                name: 'image4',
                xtype: 'fileuploadfield',
                width: 350
            },
            {
                fieldLabel: 'Zdjęcie 5',
                name: 'image5',
                xtype: 'fileuploadfield',
                width: 350
            },{
                fieldLabel: 'Cena netto',
                name: 'price_netto',
                xtype: 'numberfield',
                decimalPrecision: 2,
                id: 'price_netto',
                listeners:{
                    change: function(combo, record, index) {
                        var percent = 1+(parseInt($('#vat').val())/100);
                        var newValue = record*percent;
                        $('#price_brutto').val(Number((newValue).toFixed(2)));
                    }
                },
                width: 350
            },{
                fieldLabel: 'Cena brutto',
                name: 'price_brutto',
                xtype: 'numberfield',
                id: 'price_brutto',
                decimalPrecision: 2,
                readOnly: true,
                width: 350
            },tax_combo,{
                fieldLabel: 'Ilość',
                name: 'stock',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 0,
                width: 350
            },{
                fieldLabel: 'Minimalna ilość zamówienia',
                name: 'order_min',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 1,
                width: 350
            },{
                fieldLabel: 'Maksymalna ilość zamówienia',
                name: 'order_max',
                xtype: 'numberfield',
                decimalPrecision: 0,
                value: 100,
                width: 350
            }
            
        ],
        buttons: [{
                handler: whp_add_submit,
                text: 'Dodaj'
            }]
    });
    whp_add_fp = new FormPanel();
    whp_add_fp.init(config);
    whp_add_fp.display.render(Ext.get('div_whp_add'));

    function changeTax(){
        Ext.MessageBox.alert('Informacja', 'Błąd');
    }

    // submit
    function whp_add_submit() {
        whp_add_fp.display.form.submit({
            method: 'POST',
            url: base_url +'/wh:product/add',
            success: function() {
                Ext.MessageBox.alert('Informacja', 'Gotowe');
                whp_add_fp.display.getForm().reset();
                whp_store.display.reload();
            },
            failure: function() {
                Ext.MessageBox.alert('Informacja', 'Błąd');
            },
            waitMsg: 'Oczekiwanie'
        });
    }

    {/literal}
</script>
<div id="div_whp_add"></div>